<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polydessinmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolyDessinMobile">
        <activity android:name=".LeaderboardActivity"
            android:parentActivityName=".MainMenuActivity"/>
        <activity
            android:name=".SprintSoloActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".JoinLobbyActivity"
            android:parentActivityName=".MainMenuActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LobbyActivity"
            android:parentActivityName=".MainMenuActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateLobbyActivity"
            android:parentActivityName=".MainMenuActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GameHistoryActivity"
            android:parentActivityName=".UserProfileActivity" />
        <activity
            android:name=".LoginHistoryActivity"
            android:parentActivityName=".UserProfileActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".UserProfileActivity" />
        <activity
            android:name=".UserProfileActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".MultiplayerDrawingActivity"
            android:parentActivityName=".MainMenuActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainMenuActivity"
            android:theme="@style/Theme.PolyDessinMobileNoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.PolyDessinMobileNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>