.game-lobby-wrapper{
    background-color: #ace6e1;
    padding: 10px;
    width: 767px;
    .game-lobby-title-wrapper{
        padding-left: 30px;
        .game-lobby-title{
            font-weight: bolder;
        }
    }

    .game-lobby-game-info-wrapper{
        float: left;
        padding-right: 50px;
        padding-right: 30px;
        // border-style: solid;
        // border-radius: 40px;
        bottom: 0px;
        background-color: #d9f3f2;
        // box-shadow: 3px 5px #888888;
        height: 523px;
        .game-lobby-game-info{
            padding-left: 30px;
            padding-top: 0px;
            .mat-divider{
                width: 339px;
                left: 39px;
            }
        }
        .game-lobby-team-wrapper{
            float: left;
            padding-right: 100px;
            .game-lobby-team-A{
                padding-left: 30px;
                padding-top: 10px;
                .game-lobby-team-A-title{
                    padding-left: 60px;
                }
                .mat-card{
                    background-color: #ace6e1;
                    width: 230px;
                    height: 85px;
                    margin-bottom: 10px;
                    .avatar-red{
                        border: 4px solid rgb(247, 139, 139);
                    }

                    .mat-card-content{
                        padding-left: 60px;
                        .player-badges{
                            width: 18px;
                        }
                    }
                }
                .team-A-button-wrapper{
                    position: absolute;
                    .team-A-button{
                        outline: none;
                        top: -70px;
                        right: -210px;
                    }
                }
            }

            .game-lobby-team-B{
                padding-left: 30px;
                padding-top: 0px;
                .game-lobby-team-B-title{
                    padding-left: 60px;
                }
                .mat-card{
                    background-color: #ace6e1;
                    width: 230px;
                    height: 85px;
                    margin-bottom: 10px;
                    .avatar-blue{
                        border: 4px solid #5661f5;
                    }

                    .mat-card-content{
                        padding-left: 60px;
                        .player-badges{
                            width: 18px;
                        }
                    }
                }

                .team-B-button-wrapper{
                    position: absolute;
                    .team-B-button{
                        outline: none;
                        top: -68px;
                        right: -210px;
                    }
                }
            }
        }
    }

    .game-lobby-game-channel-wrapper{
        float: right;
        width: 500px;
        padding-left: 20px;

        .game-lobby-channel{
            width: 482px;
        }

        .game-lobby-chat{
            overflow: auto;
            width: 482px;
            bottom: 80px;
            padding-top: 5px;
            .chat-panel{
                bottom: 0;
            }
        }
    }

    .game-lobby-quit-and-start-wrapper{
        padding-left: 200px;
        float: right;
        position: absolute;
        bottom: 19px;
        #quit-button{
            border-radius: 20px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 40px;
        }
        #start-button{
            border-radius: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    button:focus, button:active:focus, button.active:focus{
        outline: none !important;
        outline-style: none !important;
    }
}

.loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  mat-spinner{
    margin: auto;
  }
}

.waiting {
  overflow: hidden;
}

::ng-deep.mat-progress-spinner circle, .mat-spinner circle{
    stroke: #c2eeee;
} 
