<div class="authentification_wrapper">
    <!-- <h2 class="welcome_header">Welcome To <h1 class="welcome_header_game_name">DRAW ME A PICTURE</h1></h2>
    <br>
    <h3 class="quote_header" >ENJOY FUN & CHALLENGING GAMES WITH  YOUR FRIENDS</h3>
    <br>
    <h6 class="explanation_header">"Every canvas is a journey on its own" - Helen Frankenthaler</h6>
    <br>
    <button class="view_more_button">VIEW MORE</button> -->
</div>

<div class="sign_in_page_wrapper">
    <app-log-in-component></app-log-in-component>
</div>
