.wrapper{
    background-color: #c2eeee;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .mat-card{
        background-color: #d9f3f2;
        width: 100%;
        height: 100%;
    }
    
    ::ng-deep.mat-form-field.mat-focused .mat-form-field-label{
        color: #8b8b8b !important;
    }

    ::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline{
        color: #8b8b8b !important;
    }

    ::ng-deep.mat-focused .mat-form-field-label{
        color: #8b8b8b !important;

    }

    ::ng-deep.mat-form-field-ripple {
        background-color: #8b8b8b !important;
    }

    button:focus, button:active:focus, button.active:focus{
        outline: none !important;
        outline-style: none !important;
    }

}