.join-lobby-difficulty-wrapper{
    background-color: rgb(231, 233, 253);
    padding: 30px;
    width: 500px;
    .mat-card{
        .button-wrapper{
            text-align: center;
            width: 100%;
            height: 100%;
            #button{
                border-radius: 200px;
                width: 70%;
                height: 20%;
                font-size: 24px;
                margin-bottom: 30px;
            }
        }
    }
    
}