.badge-selection-wrapper {
    background-color: #c2eeee;
    padding: 50px;
    .badge-selection-title-wrapper {
        display: flex;
        padding-bottom: 10px;
        .badge-selection-title {
            float: left;
            font-weight: bolder;
            padding-bottom: 20px;
            padding-right: 80px;
        }

        .preview-badge {
            float: right;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 5px solid whitesmoke;
        }
    }

    .badge-choices-row-1 {
        .badge-choice {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 5px solid whitesmoke;
        }
    }

    .badge-choices-row-2 {
        .badge-choice {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 5px solid whitesmoke;
        }
    }

    .badge-choices-row-3 {
        .badge-choice {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 5px solid whitesmoke;
        }
    }

    .badge-choices-row-4 {
        .badge-choice {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 5px solid whitesmoke;
        }
    }

    .confirm-choice-wrapper {
        padding-bottom: 10px;
        float: right;
        .cancel-button {
            float: left;
            width: 80px;
            height: 30px;
            margin-right: 20px;
            border-radius: 20px;
            border: 0cm;
        }

        .ok-button {
            float: right;
            width: 100px;
            height: 30px;
            border-radius: 20px;
            padding-left: 10px;
            padding-right: 10px;
            border: 0cm;
        }
    }
}
.grayScale{
    -webkit-filter: grayscale(1);
}

.selected{
    -webkit-filter: sepia(1);
}

button:focus, button:active:focus, button.active:focus{
    outline: none !important;
    outline-style: none !important;
}
