<div class="wrapper" style="background-color: #c2eeee;">
        <mat-card style="padding: 10px; background-color: #d9f3f2;">
                <mat-card-header>
                        <img mat-card-avatar src="assets/icons/image2vector.svg">
                        <mat-card-title><strong>Game Over!</strong></mat-card-title>
                        <mat-card-subtitle><strong>Words guessed: {{wordsGuessed}}!</strong>
                        </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                        <div>
                                <div *ngFor="let player of sortedArray">
                                        <mat-card style="background-color: #ace6e1; height: 93px;">
                                                <mat-card-header>
                                                        <img mat-card-avatar src={{player.avatar}}>
                                                        <mat-card-title>{{player.name}}</mat-card-title>
                                                </mat-card-header>
                                                <div style="position: absolute; top: 47px; right: 387px;"
                                                        *ngIf="!player.isVP">
                                                        <img style="width: 30px; height: 30px;" src={{player.badges[0]}}
                                                                matTooltip="{{this.badgeNameDictionary.badgeLinkMap.get(player.badges[1])}}">
                                                        <img style="width: 30px; height: 30px;" src={{player.badges[1]}}
                                                                matTooltip="{{this.badgeNameDictionary.badgeLinkMap.get(player.badges[2])}}">
                                                        <img style="width: 30px; height: 30px;" src={{player.badges[2]}}
                                                                matTooltip="{{this.badgeNameDictionary.badgeLinkMap.get(player.badges[3])}}">
                                                </div>
                                                <div style="position: absolute; top: 14px; right: 69px;">
                                                        <div style="text-align: center;">
                                                                <img style="width: 50px; height: 50px;"
                                                                        src={{determinePlacesURL(player.position)}}>
                                                        </div>
                                                        <div style="text-align: center;">
                                                                <strong>{{player.score}} points</strong>
                                                        </div>
                                                </div>
                                        </mat-card>
                                </div>
                        </div>
                        <div class="button-section">
                                <button class="btn btn-warning btn-center" style="border-radius: 30px; width: 130px;"
                                        [mat-dialog-close]="true">OK</button>
                        </div>
                </mat-card-content>
        </mat-card>
</div>